@charset "UTF-8";
/* CSS Document */

/* Button
-------------------------------------------------------------------*/

.btn-red,.btn-red:link,.btn-red:visited
{
    background: #ff3019; /* Old browsers */
	background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ff3019 0%,#cf0404 100%); /* W3C */
	color:#fff;
	border:1px solid #A00000;
     -webkit-box-shadow: inset 0 1px 0 0 #ffbdb7;
    -moz-box-shadow: inset 0 1px 0 0 #ffbdb7;
    -ms-box-shadow: inset 0 1px 0 0 #ffbdb7;
    -o-box-shadow: inset 0 1px 0 0 #ffbdb7;
    box-shadow: inset 0 1px 0 0 #ffbdb7;
	text-shadow:none;
  }
  
 .btn-red:hover,.btn-red:active{
	background: #cf0404; /* Old browsers */
	filter:none;
}

.btn-green,.btn-green:link,.btn-green:visited
{
    background: #6bba70; /* Old browsers */
	background: -moz-linear-gradient(top, #6bba70 0%, #299a0b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6bba70), color-stop(100%,#299a0b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6bba70 0%,#299a0b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6bba70 0%,#299a0b 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #6bba70 0%,#299a0b 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bba70', endColorstr='#299a0b',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #6bba70 0%,#299a0b 100%); /* W3C */
	color:#fff;
	border:1px solid #006e2e;
     -webkit-box-shadow: inset 0 1px 0 0 #a9db80;
    -moz-box-shadow: inset 0 1px 0 0 #a9db80;
    -ms-box-shadow: inset 0 1px 0 0 #a9db80;
    -o-box-shadow: inset 0 1px 0 0 #a9db80;
    box-shadow: inset 0 1px 0 0 #a9db80;
	text-shadow:none;
  }
  
  .btn-green:hover,.btn-green:focus,.btn-green:active{
	background: #299a0b; /* Old browsers */
	background: -moz-linear-gradient(top, #299a0b 0%, #006e2e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#299a0b), color-stop(100%,#006e2e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #299a0b 0%,#006e2e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #299a0b 0%,#006e2e 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #299a0b 0%,#006e2e 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#006e2e',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #299a0b 0%,#006e2e 100%); /* W3C */
} 

.btn-green2,.btn-green2:link,.btn-green2:visited
{
    background: #8fc400; /* Old browsers */
	background: -moz-linear-gradient(top, #8fc400 0%, #80ac3a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fc400), color-stop(100%,#80ac3a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #8fc400 0%,#80ac3a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #8fc400 0%,#80ac3a 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #8fc400 0%,#80ac3a 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#80ac3a',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #8fc400 0%,#80ac3a 100%); /* W3C */
	color:#fff;
	border:1px solid #41660E;
     -webkit-box-shadow: inset 0 1px 0 0 #b6e026;
    -moz-box-shadow: inset 0 1px 0 0 #b6e026;
    -ms-box-shadow: inset 0 1px 0 0 #b6e026;
    -o-box-shadow: inset 0 1px 0 0 #b6e026;
    box-shadow: inset 0 1px 0 0 #b6e026;
	text-shadow:none;
  }
  
  .btn-green2:hover,.btn-green2:focus,.btn-green2:active{
	background: #80ac3a; /* Old browsers */
	background: -moz-linear-gradient(top, #80ac3a 0%, #73880a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80ac3a), color-stop(100%,#73880a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #80ac3a 0%,#73880a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #80ac3a 0%,#73880a 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #80ac3a 0%,#73880a 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ac3a', endColorstr='#73880a',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #80ac3a 0%,#73880a 100%); /* W3C */
} 


.btn-sky,.btn-sky:link,.btn-sky:visited,
.btn-blue,.btn-blue:link,.btn-blue:visited
{
	background: #499bea; /* Old browsers */
	background: -moz-linear-gradient(top, #499bea 0%, #1964b5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499bea), color-stop(100%,#1964b5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #499bea 0%,#1964b5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #499bea 0%,#1964b5 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #499bea 0%,#1964b5 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#1964b5',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #499bea 0%,#1964b5 100%); /* W3C */
	color:#fff;
	border:1px solid #1964B5;
     -webkit-box-shadow: inset 0 1px 0 0 #7AD8F4;
    -moz-box-shadow: inset 0 1px 0 0 #7AD8F4;
    -ms-box-shadow: inset 0 1px 0 0 #7AD8F4;
    -o-box-shadow: inset 0 1px 0 0 #7AD8F4;
    box-shadow: inset 0 1px 0 0 #7AD8F4;
	text-shadow:none;
  }
  
  .btn-sky:hover,.btn-sky:focus,.btn-sky:active,
   .btn-blue:hover,.btn-blue:focus,.btn-blue:active{
	background: #228af9; /* Old browsers */
	background: -moz-linear-gradient(top, #228af9 0%, #1d5482 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#228af9), color-stop(100%,#1d5482)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #228af9 0%,#1d5482 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #228af9 0%,#1d5482 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #228af9 0%,#1d5482 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#228af9', endColorstr='#1d5482',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #228af9 0%,#1d5482 100%); /* W3C */
} 


.btn-orange,.btn-orange:link,.btn-orange:visited
{
    background: #ffa84c; /* Old browsers */
	background: -moz-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#ff7b0d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* W3C */	
	color:#fff;
	border:1px solid #f07146;
     -webkit-box-shadow: inset 0 1px 0 0 #ffc578;
    -moz-box-shadow: inset 0 1px 0 0 #ffc578;
    -ms-box-shadow: inset 0 1px 0 0 #ffc578;
    -o-box-shadow: inset 0 1px 0 0 #ffc578;
    box-shadow: inset 0 1px 0 0 #ffc578;
	text-shadow:none;
  }
  
  .btn-orange:hover,.btn-orange:focus,.btn-orange:active{
	background: #f2825b; /* Old browsers */
	background: -moz-linear-gradient(top, #f2825b 0%, #e55b2b 48%, #f07146 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2825b), color-stop(48%,#e55b2b), color-stop(100%,#f07146)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f2825b 0%,#e55b2b 48%,#f07146 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f2825b 0%,#e55b2b 48%,#f07146 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #f2825b 0%,#e55b2b 48%,#f07146 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2825b', endColorstr='#f07146',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #f2825b 0%,#e55b2b 48%,#f07146 100%); /* W3C */
} 


  .btn-gray,.btn-gray:link,.btn-gray:visited{
	background: #a5a5a5; /* Old browsers */
	background: -moz-linear-gradient(top, #a5a5a5 0%, #797979 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5a5a5), color-stop(100%,#797979)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a5a5a5 0%,#797979 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a5a5a5 0%,#797979 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #a5a5a5 0%,#797979 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5a5a5', endColorstr='#797979',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #a5a5a5 0%,#797979 100%); /* W3C */
	color:#fff;
	border:1px solid #666;
     -webkit-box-shadow: inset 0 1px 0 0 #ccc;
    -moz-box-shadow: inset 0 1px 0 0 #ccc;
    -ms-box-shadow: inset 0 1px 0 0 #ccc;
    -o-box-shadow: inset 0 1px 0 0 #ccc;
    box-shadow: inset 0 1px 0 0 #ccc;
	text-shadow:none;  
}

  .btn-gray:hover,.btn-gray:focus,.btn-gray:active
 {
	background: #7f7f7f; /* Old browsers */
	background: -moz-linear-gradient(top, #7f7f7f 0%, #414141 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7f7f7f), color-stop(100%,#414141)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7f7f7f 0%,#414141 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7f7f7f 0%,#414141 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #7f7f7f 0%,#414141 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f7f7f', endColorstr='#414141',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #7f7f7f 0%,#414141 100%); /* W3C */	
} 
  


.btn-black,.btn-black:link,.btn-black:visited
{
    background: #7f7f7f; /* Old browsers */
	background: -moz-linear-gradient(top, #7f7f7f 0%, #414141 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7f7f7f), color-stop(100%,#414141)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7f7f7f 0%,#414141 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7f7f7f 0%,#414141 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #7f7f7f 0%,#414141 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f7f7f', endColorstr='#414141',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #7f7f7f 0%,#414141 100%); /* W3C */	
	color:#fff;
	border:1px solid #666;
     -webkit-box-shadow: inset 0 1px 0 0 #ccc;
    -moz-box-shadow: inset 0 1px 0 0 #ccc;
    -ms-box-shadow: inset 0 1px 0 0 #ccc;
    -o-box-shadow: inset 0 1px 0 0 #ccc;
    box-shadow: inset 0 1px 0 0 #ccc;
	text-shadow:none;
  }
  
   .btn-black:hover,.btn-black:focus,.btn-black:active
 {
	 background: #414141; /* Old browsers */
	filter:none;	
} 
  






/*-----------------.ico   normal ico  ,  .ico.small   ico smaller than .ico    20111018  sind ---------------------*/

.toolnav .ico,.toolbar .ico,.toolbar-alpha .ico, .btn .ico,.btn-small .ico,.btn-first .ico,.btn-last .ico,.btn-round .ico{
   display:block;
   float:left;
   width:12px;
   height:12px;
   line-height:12px;
   background-image:url(../images/webui/buttons/btn-icons.png);
   background-repeat:no-repeat;
}

.toolnav .ico.small,.toolbar .ico.small,.toolbar-alpha .ico.small, .btn .ico.small,.btn-small .ico.small,.btn-first .ico.small,.btn-last .ico.small,.btn-round .ico.small{
   display:block;
   float:left;
   width:13px;
   height:12px;
   line-height:12px;
   background-image:url(../images/webui/icons/ico-small.png);
   background-repeat:no-repeat;	
}

/*--注意：这个class的作用让ico图标向右浮动，但在IE下会浮动到最右侧，所以设置.right时需要确定父元素的宽度--*/
.toolnav .right,.toolbar .right,.toolbar-alpha .right{
	float:right;
}

.ico:hover,.ico:active,.ico.small:hover,.ico.small:active{
	text-decoration:none;
}

.toolnav .ico{
   margin:8px 5px 0 5px;
}

.toolnav .ico.small{
   margin:3px 2px 0 2px;
   *margin:2px 1px 0 1px;
}


.btn .ico,.btn-mid .ico,.btn-first .ico,.btn-last .ico
{
   margin:0 5px 0 0;
}

.btn .ico.small,.btn-mid .ico.small,.btn-first .ico.small,.btn-last .ico.small{
   margin:-2px 2px 0 2px;
}

.tbtn-small .ico,.tbtn-small .ico.small{
   margin:2px 5px 0 0;
}



/*----------ico begin   ------------------*/
.ico.add{
	background-position: 0 -288px;
}

.ico.add-h{
	background-position:-12px -288px;
}

.ico.edit{
	background-position:0 -264px;
}

.ico.edit-h{
	background-position:-12px -264px;
}

.ico.del{
	background-position:0 -60px;
}

.ico.del-h{
	background-position:-12px -60px;
}

.ico.view{
	background-position:0 -72px;
}

.ico.view-h{
	background-position:0 -72px;
}

.ico.search{
	background-position:0 -228px;
}

.ico.search-h{
	background-position:-12px -228px;
}


.ico.settings,.ico.setting,.ico.set{
	background-position:0 -120px;
}

.ico.settings-h,.ico.setting-h,.ico.set-h{
	background-position:-12px -120px;
}

.ico.refresh,.ico.reload{
	background-position:0 -300px;
}

.ico.refresh-h,.ico.reload-h{
	background-position:-12px -300px;
}


.ico.fav,.ico.favorite{
	background-position:0 -348px;
}

.ico.fav-h,.ico.favorite-h{
	background-position:-12px -348px;
}

.ico.home{
	background-position:0 -168px;
}
.ico.home-h{
	background-position:-12px -168px;
}

.ico.user{
	background-position:0 -360px;
}
.ico.user-h{
	background-position:-12px -360px;
}

.ico.clock,.ico.time{
	background-position:0 -108px;
}
.ico.clock-h,.ico.time-h{
	background-position:-12px -108px;
}

.ico.dropup{
	background-position:0 -372px;
}

.ico.dropup-h{
	background-position:-12px -372px;
}

.ico.dropdown{
	background-position:0 -384px;
}

.ico.dropdown-h{
	background-position:-12px -384px;
}



.ico.up{
	background-position:0 0;
}
.ico.up-h{
	background-position:-12px 0;
}
.ico.down{
	background-position:0 -12px;
}



.ico.down-h{
	background-position:-12px -12px;
}

.ico.left{
	background-position:0 -24px;
}
.ico.left-h{
	background-position:-12px -24px;
}

.ico.right{
	background-position:0 -36px;
}
.ico.right-h{
	background-position:-12px -36px;
}

.ico.key{
	background-position:0 -180px;
}
.ico.key-h{
	background-position:-12px -180px;
}

.ico.lock{
	background-position:0 -192px;
}
.ico.lock-h{
	background-position:-12px -192px;
}

.ico.unlock{
	background-position:0 -204px;
}
.ico.unlock-h{
	background-position:-12px -204px;
}

.ico.approve{
	background-position:0 -48px;
}
.ico.approve-h{
	background-position:-12px -48px;
}

.ico.like{
	background-position:0 -156px;
}
.ico.like-h{
	background-position:-12px -156px;
}

.ico.mail{
	background-position:0 -240px;
}
.ico.mail-h{
	background-position:-12px -240px;
}

.ico.move{
	background-position:0 -252px;
}
.ico.move-h{
	background-position:-12px -252px;
}

.ico.rss{
	background-position:0 -312px;
}
.ico.rss-h{
	background-position:-12px -312px;
}

.ico.tag{
	background-position:0 -324px;
}
.ico.tag-h{
	background-position:-12px -324px;
}

.ico.trash{
	background-position:0 -336px;
}
.ico.trash-h{
	background-position:-12px -336px;
}
/*----------ico end   ------------------*/


/*----------ico-small  begin (compare to .ico.*, add "s" preffix. example: .ico.up  -->  .ico.sup )   20111019  sind ------------------*/

.ico.small.up{
	background-position:-8px -96px;
}

.ico.small.down{
	background-position:-8px -80px;
}

.ico.small.dropup{
	background-position:-6px -272px;
} 


.ico.small.dropdown{
	background-position:-6px -289px;
}


.ico.small.grid{
	background-position:-4px -2px;
}
.ico.small.list{
	background-position:-4px -18px;
}

.ico.small.add{
	background-position:-6px -129px;
}

.ico.small.approve{
	background-position:-6px -144px;
}

.ico.small.del{
	background-position:-6px -160px;
}

.ico.small.view{
	background-position:-6px -177px;
}

.ico.small.set,.ico.small.setting{
	background-position:-6px -193px;
}

.ico.small.home{
	background-position:-6px -208px;
}

.ico.small.search{
	background-position:-6px -225px;
}

.ico.small.edit{
	background-position:-6px -241px;
}

.ico.small.refresh,.ico.small.reload{
	background-position:-6px -256px;
}


.ico.small.trash{
	background-position:-6px -114px;
}

/*----------ico-small  end --------*/


/*---------tbtn with ico directly.  begin   20111019  sind ------------*/
  
.toolnav .tbtn-up,.tbtn-up {
	padding:0 25px 0 12px;
	background:url(../images/webui/icons/up.gif) 85% 9px no-repeat;
}

.toolnav .tbtn-down,.tbtn-down {
	padding:0 25px 0 12px;
	background:url(../images/webui/icons/down.gif) 85% 9px no-repeat;
}


.dropdown{
	float:left;
	position:relative;
}


.dropdown .btn-mid,.dropdown .btn,.dropdown .btn-first,.dropdown .btn-last{
	float:none;
}

.dropdown ul{
	clear:both;
	position:absolute;
	visibility:hidden;
	border:1px solid #ccc;
	border-top:none;
	margin:0;
	padding:5px 0 0 0;
	background:#f6f6f6;
}

.dropdown  ul li {
	display:block;
	float:none;
	line-height:22px;
	height:22px;
	padding:0 0 0 15px;
}

.dropdown  ul li a:link, .dropdown ul li a:visited {
	
}

.dropdown ul li a:hover {
	color:#C00;	
}



/*--------tbtn  end --------------*/

/* Button  end
-------------------------------------------------------------------*/


